.container {
  margin-top: 61px;
  width: 100%;
  min-height: 91vh;
  height: auto;
  color: black;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  .coursesContainer {
    width: 98%;
    min-height: 80vh;
    height: auto;
    // border: 1px solid red;
    color: black;
    background-color: white;
    border: 2px solid rgb(146, 145, 145);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    // flex-direction: column;
    border-radius: 20px;
  }
}
