@mixin tablet {
  @media screen and (max-width: 700px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 540px) {
    @content;
  }
}

.con {
  margin-top: 61px;
  width: 100%;
  min-height: 91vh;
  height: auto;
  color: black;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  //   flex-direction: column;
  .conInside {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .h1ChapterName {
      text-transform: capitalize;
      margin: 20px;
    }
  }

  @include tablet() {
    flex-direction: column;
  }
}

.video_Playlist {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  // flex-direction: column;
  // border: 1px solid red;
  @include tablet() {
    align-items: center;
    flex-direction: column;
  }
}

.video_container {
  max-width: 80%;
  width: 70%;
  aspect-ratio: 9/4.5;
  margin-left: 25px;

  background-color: black;
  @include tablet() {
    width: 80%;
  }
}

.main_video {
  width: 100%;
  height: 100%;
}

.playlist {
  width: 30%; /* Adjust width as needed */
  margin: 20px;
  // background-color: #f2f2f2;
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include tablet() {
    width: 90%;
  }
}

.playlist h2 {
  margin-bottom: 10px;
}

.playlist ul {
  list-style: none;
  padding: 0;
  .chp {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d1cbcb;
  }
}

.playlist li {
  padding: 10px;
  cursor: pointer;
}

.playlist li:hover {
  background-color: #ddd;
}
