$bg: #151c2c;
$bgSoft: #182237;
$text: white;
$textSoft: #b7bac1;
$hilight: #2e374a;

@mixin tablet {
  @media screen and (max-width: 700px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 540px) {
    @content;
  }
}

.container {
  margin-top: 61px;
  width: 100%;
  height: 91vh;
  color: black;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  .profileCon {
    width: 700px;
    height: 80%;
    // border: 1px solid red;
    color: black;
    background-color: white;
    border: 2px solid rgb(146, 145, 145);
    display: flex;
    align-items: center;
    justify-content: center;
    // flex-direction: column;
    border-radius: 20px;
    .myDetails {
      width: 60%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .image {
        border-radius: 50%;
        margin: 10px 0;
        width: 200px;
        height: 200px;
        object-fit: fill;
      }
      .name {
        font-size: 25px;
        color: rgb(77, 77, 77);
        font-weight: 800;
      }
      .email {
        font-size: 20px;
        color: rgb(77, 77, 77);
        font-weight: 500;
      }
      .logoutBtn {
        position: relative;
        padding: 8px 16px;
        background-color: grey;
        border: none;
        outline: none;
        border-radius: 5px;
        cursor: pointer;
        color: white;
        font-weight: 600;
        width: 100px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
        p {
          color: white;
        }

        .lds_ring {
          /* change color here */
          color: white;
          // margin-top: -2px;
        }
        .lds_ring,
        .lds_ring div {
          box-sizing: border-box;
        }
        .lds_ring {
          // display: flex;
          // align-items: center;
          // justify-content: center;
          width: 20px;
          height: 20px;
        }
        .lds_ring div {
          box-sizing: border-box;
          display: block;
          position: absolute;
          width: 20px;
          height: 20px;
          // margin: 4px;
          border: 3px solid currentColor;
          border-radius: 50%;
          animation: lds_ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          border-color: currentColor transparent transparent transparent;
        }
        .lds_ring div:nth-child(1) {
          animation-delay: -0.45s;
        }
        .lds_ring div:nth-child(2) {
          animation-delay: -0.3s;
        }
        .lds_ring div:nth-child(3) {
          animation-delay: -0.15s;
        }
        @keyframes lds_ring {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }
      .approved {
        font-size: 20px;
        // color: rgb(233, 12, 12);
        display: flex;
        font-weight: 500;
        .approveTrue {
          color: green;
        }
        .approveFalse {
          color: red;
        }
      }
      .dashBtn {
        margin: 10px;
        background-color: $bg;
        padding: 10px;
        border-radius: 5px;
        .Link {
          color: white;
          font-weight: 600;
          text-decoration: none;
        }
      }
      .addClass {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border: 2px solid rgb(146, 145, 145);
        border-radius: 10px;
        padding: 10px;
        width: 45%;
        @include tablet() {
          width: 200px;
        }

        .AddBtn {
          position: relative;
          padding: 2px 6px;
          background-color: grey;
          border: none;
          outline: none;
          border-radius: 5px;
          cursor: pointer;
          color: white;
          font-weight: 600;
          width: 55px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          // margin: 20px;
          p {
            color: white;
          }

          .lds_ring {
            /* change color here */
            color: white;
            // margin-top: -2px;
          }
          .lds_ring,
          .lds_ring div {
            box-sizing: border-box;
          }
          .lds_ring {
            // display: flex;
            // align-items: center;
            // justify-content: center;
            width: 20px;
            height: 20px;
          }
          .lds_ring div {
            box-sizing: border-box;
            display: block;
            position: absolute;
            width: 20px;
            height: 20px;
            // margin: 4px;
            border: 3px solid currentColor;
            border-radius: 50%;
            animation: lds_ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            border-color: currentColor transparent transparent transparent;
          }
          .lds_ring div:nth-child(1) {
            animation-delay: -0.45s;
          }
          .lds_ring div:nth-child(2) {
            animation-delay: -0.3s;
          }
          .lds_ring div:nth-child(3) {
            animation-delay: -0.15s;
          }
          @keyframes lds_ring {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }
        }
        .input {
          width: 100px;
          height: 30px;
          padding: 0px 8px;
          border-radius: 5px;
          border-style: none;
          background-color: rgb(211, 210, 210);
        }
      }

      @include tablet() {
        width: 100%;
        height: auto;
      }
    }

    @include tablet() {
      flex-direction: column;
      width: 90%;
      height: auto;
    }
  }
}

.footer {
  width: 100%;
  height: 250px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  .linkContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: self-start;
    flex-direction: column;
    // border: 1px solid red;
    width: 30%;
    height: 70%;
    .links {
      text-decoration: none;
      color: white;
      font-weight: 500;
      font-size: 18px;
    }
    :hover {
      color: blue;
    }
  }
  h1 {
    color: white;
  }
}
