.card {
  //   border: 1px solid red
  margin: 10px 0;
  background-color: #f0f0f0;
  padding: 20px;
  margin-right: 20px;
  border-radius: 5px;
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-around;
  height: 40px;
  p {
    display: flex;
  }
  .delete {
    cursor: pointer;
    :hover {
      color: red;
    }
  }
}
